trigger:
- main  # Define the branch to trigger the pipeline

pool:
  vmImage: 'windows-latest'  # Specify the Windows image for the build agent

steps:
- task: DownloadBuildArtifacts@0  # Download the artifact containing website files
  inputs:
    buildType: 'current'
    downloadType: 'single'
    artifactName: 'website-artifact'  # Replace with your artifact name
    downloadPath: '$(Build.ArtifactStagingDirectory)'

- task: IISWebAppManagementOnMachineGroup@0  # Deploy website to IIS
  inputs:
    IISDeploymentType: 'IISWebsite'  # Specify deployment type as IIS Website
    ActionIISWebsite: 'CreateOrUpdateWebsite'  # Action to create or update the website
    WebsiteName: 'MyWebSite-02'  # Name of your website in IIS
    WebsitePhysicalPath: '$(Build.ArtifactStagingDirectory)'  # Physical path of the website files
    AddBinding: false  # Add a binding for the website (e.g., HTTP binding on port 80)
    CreateOrUpdateAppPoolForWebsite: true  # Create or update the application pool for the website
    AppPoolNameForWebsite: 'MyWebSite-02'  # Name of the application pool
    DotNetVersionForAppPool: 'v4.0'  # .NET version for the application pool (if applicable)
